<div class="login-wrapper">
  <form class="login">
    <div class="login-header">
      <div class="logo"></div>
      <div class="actions">
      </div>
    </div>
    <div class="login-body">
      <section class="title">
        <div class="welcome">Welcome to</div>
        Company Product Name
        <div class="hint">Product tagline</div>
      </section>
      <div class="login-group">
<!--        <clr-select-container>-->
<!--          <label>User Role</label>-->
<!--          <select clrSelect name="type" [(ngModel)]="form.type">-->
<!--            <option value="local">Local Users</option>-->
<!--            <option value="admin">Administrator</option>-->
<!--          </select>-->
<!--        </clr-select-container>-->
        <clr-input-container>
          <label class="clr-sr-only">E-mail</label>
          <input
            type="text"
            autocomplete="username"
            name="username"
            clrInput
            placeholder="Enter e-mail"
            [(ngModel)]="form.username"
          />
        </clr-input-container>
        <clr-password-container>
          <label class="clr-sr-only">Password</label>
          <input
            type="password"
            autocomplete="current-password"
            name="password"
            clrPassword
            placeholder="Enter password"
            [(ngModel)]="form.password"
          />
        </clr-password-container>
        <button type="submit" class="btn btn-primary">Register</button>
        <a class="signup" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Sign In</a>
      </div>
    </div>
    <div class="login-footer">
      <span class="copyright">2023 VMware, Inc.</span>
      <a href="javascript://">Terms</a>
      <a href="javascript://">Privacy</a>
      <a href="javascript://">California Privacy Rights</a>
    </div>
  </form>
</div>
